doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title News App
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.css')
#main-content.container
  h1.text-center.text-info Todays Tech Headlines...!
  each news in newsObj
    .card.bg-light.text-white.mb-5
      img.card-img(src=news.imgUrl alt='Card image' width='80%' height='450px')
      .card-img-overlay
        h4.card-title #{news.title}  
        p.card-text #{news.desc}
        a.btn.btn-primary(href=news.url) Read more
  else
    p No news!
